body {
	height: 100%;
	font-family: 'Rubik', sans-serif;
	color: black;
}

.col-lg-12 {
	margin: 0;
	padding: 0;
}

.left-col {
	background: #FFE2AA;
	height: 100%;
}

.left-col div, img{
	left: 8%;
	margin: 0;
}

.left-col img {
	position: absolute;
	width: 110px;
	top: 8%;
	left: 10%;
}

.right-col {
background: url(photo.png);
background-repeat: no-repeat;
height: 100%;
}

.main-text {

top: 20%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
color: #000000;
}

.main-text h1 {
	font-size: 80px;
	line-height: 90px;
}

.main-text p {
	line-height: 34px;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	margin-top: 5%;
}


.container .logosymbol {
	position: absolute;
	width: 325px;
	top: 15%;
	left: 42.5%;
	z-index: 10;
}

.signup {
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 800px;
	height: 170px;
	background: #FFFCF7;
	z-index: 12;
}
.signup p {
font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: 23px;
font-size: 18px;

color: #000000;

}

.signup .form-content {
	position: absolute;
	left: 8%;
	top: 20%;
}

.signup-line {
	position: absolute;
	margin-top: 20px;
}

input {
	width: 335px;
	height: 50px;
	background: #FFFFFF;
	border: 1.4px solid #000000;
	box-sizing: border-box;
}

input::placeholder {
font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: 23px;
font-size: 18px;
color: #C4C4C4;

}

.mer-text {
	padding: 8px;
	left: 20px;
	top: 17px;
}

/* Animation for line on button */

.mer-text a {

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 18px;

	color: #000000;
	text-decoration: none;

}
.mer-text a:after {
  display:block;
  content: '';
  border-bottom: 2px solid #000000; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;

}
.mer-text a:hover:after { 
	transform: scaleX(1); 
	transform-origin:  0% 50%;
}




