body, html {
  font-family: 'Rubik', sans-serif;
  font-color: black;
  background: #FFE2AA; 
}

.brand {
  padding: 8vw 0vw 10vh 0vw;
  width: 110px;
}


.content {
  height: 50vh;
  padding: 0;
}

h1 {
  font-size: 2rem;color:black;
  padding-bottom: 5vw;
}

p {
  font-size: 1rem;color:black;
}

.left-hero {
  padding-left: 8vw; 
}

.right-hero {
 background-image: url(‘photo.png’);
 background-size: cover;
 background-repeat: no-repeat;
}

.form {
  height: 50vh;
  background: #FFFCF7;
}

.form-content {
  padding: 15vh 8vw 0vw 0vw;
}

.logo-container {
  display: none;
}


input {
  background: #FFFFFF;
  border: 1.4px solid #000000;
  box-sizing: border-box;
  width: 50vw;
  margin-right: 2vw;
}


/* Animation for line on button */

.mer-text a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 18px;

  color: #000000;
  text-decoration: none;

}
.mer-text a:after {
  display:block;
  content: '';
  border-bottom: 2px solid #000000; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;

}
.mer-text a:hover:after { 
  transform: scaleX(1); 
  transform-origin:  0% 50%;
}


/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  h1 {color: black;} }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  h1 {color: black;} 

  .left-hero {
    height: 100vh;
    width: 50vw;
  }

  .content {
    display: flex;
    position: row;
    height: 100vh;
    width: 100vw;
  }

  .right-hero {
  height: 100vh;
  width: 50vw;
  background: url(photo.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.form {
  position: absolute;
  bottom: 0;
  left: 8vw;
  width: 70vw;
  height: 15vh;
  background: #FFFCF7;
  z-index: 12;
}

.form p {
  padding-top: 2vh; 
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.form-content {
  padding: 0vw 2vw 0vw 2vw;
}

input::placeholder {
font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: 23px;
font-size: 18px;
color: #C4C4C4;

}

input {
  width: 30vw;
}

.logo-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.logo-container img {
  position: absolute;
  z-index: 1;
  padding-left: 7vw;
}


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {color: black;} }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  h1 {color: black;} }
